{% extends 'base-page.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block charts %}
    <main>

            <div class="chart-box">
                <h2 id="contact-heading">Contact me!</h2>
                    <div>
                        <div class="msg">
                            <label for="contact-msg">Message:</label>
                            <textarea id="contact-msg" class="contact-msg-area"></textarea>
                        </div>
                        <div class="msg">
                            <label for="contact-mail">Email:</label>
                            <input type="email" id="contact-mail">
                        </div>
                        <div class="msg">
                            <label for="contact-name">Name:</label>
                            <input type="text"id="contact-name">
                        </div>
                        <button class="contact-btn" type="submit">Send message</button>
                    </div>                
                    
                </div>
            </div> 
    </main>
    {% endblock %}

    {% block scripts %}
    <script>
        const sendMsg = document.querySelector('.contact-btn')
        const textMsg = document.querySelector('#contact-msg')
        const emailMsg = document.querySelector('#contact-mail')
        const nameMsg = document.querySelector('#contact-name')
        const head = document.querySelector('#contact-heading')

        sendMsg.addEventListener('click', () => {
            
            let msg = `Message: ${textMsg.value}, by: ${nameMsg.value} [${emailMsg.value}]`
            

            if(msg !== `Message: , by:  []`){
                sendEmail(msg)
                showAlert('The message has been send!')
            }else{
                showAlert('Please fill in all fields!')              
            }            
        })
        
        function showAlert(text){
            alert = document.createElement('p')
            alert.innerText = text
            alert.className = 'contact-alert'
            head.appendChild(alert)
        }

        function sendEmail(sendData){
            const url =  "{% url 'send-msg' %}"
            fetch(url, {
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify(sendData)
            })
            .then((response) => {
                return response.json()
            })
            .then((data) => {
                location.reload()
            })
        }
    </script>
    {% endblock %}
</body>
</html>